.header-container {
  width: 100%;
  height: 500px;
  padding: 10px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/public/images/hunting.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link svg {
  width: 30px;
  height: 30px;
  fill: gray;
}

.header-link--active svg {
  fill: dodgerblue;
}

.header-link svg:hover {
  opacity: 0.5;
}

.header-contacts svg {
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-contacts svg:hover {
  transform: rotate(15deg);
}

.header-page_name.header-page_name {
  margin-top: 20px;
  font-size: 20px;
  color: gray;
  padding: 10px 20px;
  border: 1px dotted gray;
  width: max-content;
}

.header-title.header-title {
  margin-top: 200px;
  color: gray;
  font-size: 50px;
  font-weight: bold;
}

.header-phone_number.header-phone_number,
.header-address.header-address {
  color: gray;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .header-container {
    height: 200px;
  }

  .header-title.header-title {
    margin-top: 10px;
    font-size: 30px;
  }

  .header-phone_number.header-phone_number,
  .header-address.header-address {
    font-size: 15px;
  }

  .header-page_name.header-page_name {
    font-size: 15px;
    padding: 5px 10px;
    margin: 20px auto 0;
  }
}
